@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Rokkitt&display=swap');
:root{
    --color1: #9b59b6;
    --color2: #95a5a6;
}

/*Цвет*/

.color1{
    color: var(--color1);
}

.color2{
    color: var(--color2);
}

body{
    width: 100%;
    font-family: "Rokkitt";
    font-weight: 400;
}

header{
    width: 100%;
    height: 700px;
    padding: 60px 0;
    background: url(img/bg.jpg) center no-repeat;
    background-size: cover;
}

.container{
    width: 100%;
    max-width: 960px;
}


.navbar{
    margin-bottom: 80px;
}

.navbar-nav{
    font-size: 20px;   
}

.nav-item{
    margin-left: 30px;
}
.nav-item:hover{
    color: #9b59b6;
}

.title{
    font-size: 60px;
    font-weight: 400;
    font-family: "Rokkitt";
}

.title2{
    font-size: 22px;
    font-weight: 400;
    font-family: "Rokkitt";
}

.line{
    width: 600px;
    height: 1px;
    background-color: #fff;
    margin-bottom: 24px;
}

.btn-itd{
    position: absolute;
    top: 73%;
    left: 45%;
    
    width: 200px;
    height: 50px;
    margin: 0 auto;
    text-transform: uppercase;
    color: #fff !important;
    background-color: #9b59b6 !important;
}

.btn-itd2{
    
    width: 200px;
    height: 50px;
    margin: 0 auto;
    text-transform: uppercase;
    color: #fff !important;
    background-color: #9b59b6 !important;
}

/*About*/
.about{
    padding: 150px 0;
}
.about__title{
    font-size: 36px;
}
.about-title2 {
    font-size: 20px;
    font-weight: 700;
}

.about-text2{
    font-size: 15px;
}

/*Photo*/
.img{
    padding: 150px 0;
}
.photo{
    display: flex;
    flex-wrap: wrap;
}
.photo__item{
    border: 150px solid #fff;
}
.photo__inner{
    width: 100%;
    
}
.photo-wrap{
    flex-wrap: wrap;
}
.photo-wrap__item{
    margin-right: 40px;
    margin-bottom: 55px;
}
.photo__content{
    background-color: #9b59b6;
    height: 90px;
    margin-top: -90px;
    opacity: 0;

    transition: .2s;
}
.photo__content:hover{
    opacity: 0.99;
}
.img__title{
    font-size: 30px;
    font-family: "Rokkitt";
    color: #fff;
    
}
.img__text{
    font-size: 15px;
    color: #6b3f7d;
}
.search {
    position: absolute;
    top: 222%;
    left: 78%;
    z-index: 2;

    color: #fff;
    background-color: #9b59b6;
    height: 38px;
    width: 38px;
}

.search1{
    position: absolute;
    top: 183%;
    left: 33%;
    z-index: 2;

    color: #fff;
    background-color: #9b59b6;
    height: 38px;
    width: 38px;
}

.search2{
    position: absolute;
    top: 183%;
    left: 78%;
    z-index: 2;

    color: #fff;
    background-color: #9b59b6;
    height: 38px;
    width: 38px;
}

.search3{
    position: absolute;
    top: 222%;
    left: 33%;
    z-index: 2;

    color: #fff;
    background-color: #9b59b6;
    height: 38px;
    width: 38px;
}

.pon{
    color: #fff;
    margin-left: 10px;
}

/*Data*/
.data{
    padding: 150px 0;
}
.data__title{
    font-size: 60px;
    font-family: "Rokkitt";
}
.help__inner{
    margin-left: 245px;
}
 .email{
    background-color: #e4e8e8;
    height: 70px;
    width: 369px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.name{
    background-color: #e4e8e8;
    height: 70px;
    width: 417px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.help{
    background-color: #e4e8e8;
    height: 250px;
    width: 795px;
    margin-left: 278px;
}

.name__text{
    color: #cecece;
    font-size: 30px;
    font-family: "Rokkitt";
    margin-left: 10px;
}

  

/*Footer*/
.footer{
    padding: 130px 0;
    background: #9b59b6 center no-repeat;
    background-size: cover;
}
.footer__bg{
    position: absolute;
    top: 366%;
    left: 30%;
    z-index: 1;
}
.footer__icon{
    font-size: 40px;
    color: #9b59b6;
    margin-left: -6px;

    position: absolute;
    top: 368%;
    left: 32%;
    z-index: 2;
}

.footer__bg2{
    position: absolute;
    top: 366%;
    left: 48%;
    z-index: 1;
}
.footer__icon2{
    font-size: 40px;
    color: #9b59b6;
    margin-left: -6px;

    position: absolute;
    top: 368%;
    left: 50%;
    z-index: 2;
}

.footer__bg3{
    position: absolute;
    top: 366%;
    left: 66%;
    z-index: 1;
}
.footer__icon3{
    font-size: 40px;
    color: #9b59b6;
    margin-left: -6px;

    position: absolute;
    top: 368%;
    left: 68%;
    z-index: 2;
}

.icon__color{
    color: #9b59b6;
}

.footer__text{
    font-size: 25px;
    color: #fff;
    font-family: "Rokkitt";
}